/* File: styles/main.css */

Screen {
    layout: grid;
    grid-size: 1;
    grid-rows: 1fr 8fr 3;
}

Header {
    height: 3;
    background: $boost;
    color: $text;
    text-align: center;
    text-style: bold;
}

RichLog {
    background: $surface-darken-1;
    color: $text;
    height: auto;
    border: none;
}