PasswordDialog {
    align: center middle;
}

#dialog-container {
    width: 60%;
    height: auto;
    border: thick $primary 80%;
    background: $surface;
    padding: 1 2;
}

#password-prompt {
    content-align: center middle;
    width: 100%;
    height: 3;
}

#password-input {
    width: 100%;
}

#submit-button {
    width: 100%;
    margin-top: 1;
}